.dark-overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.content-heading .overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.slider-style {
    position:absolute;
    width:100%;
    top:50%;
    z-index:9999;
}

.slider-style p{
    text-align:center;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
    font-family:'Roboto', sans-serif;
}

.slider-style h2{
    color:#FFFFFF;
    text-align:center;
    font-weight:800;
    text-transform:uppercase;
    font-size:51px;
    line-height:50px;
    padding-bottom:0px;
    font-family:'Roboto', sans-serif;
}

.slider-style h3{
    color:#FFFFFF;
    text-align:center;
    font-size:22px;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:30px;
    font-family:'Roboto', sans-serif;
}

.slider-button-1{
    width:200px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
    font-family:'Roboto', sans-serif;
    margin-bottom:20px;
    transition:all 200ms ease;
}

.slider-button-1:hover{
    transform:scale(0.95, 0.95);  
    transition:all 200ms ease;
}

.slider-button-2{
    width:200px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
    font-family:'Roboto', sans-serif;
    margin-bottom:20px;
    color:#cacaca;
    transition:all 200ms ease;
}

.slider-button-2:hover{
    transform:scale(0.95, 0.95);  
    transition:all 200ms ease;
}

.button-line{
    border:solid 1px #cacaca;
}

.slider-button-1:hover{color:#FFFFFF;}
.slider-button-2:hover{color:#FFFFFF;}

@media (min-width:600px){
    .slider-style.slider-style-3 h3,
    .slider-style.slider-style-3 h2,
    .slider-style.slider-style-3 p {
        text-indent: -270px;        
    }
}

.swiper-container {
	height: 300px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slick-slide img {
    display: block;
    height: auto;
    width: 100% !important;
}


.center-socials {
  width:100%;
}

.footer-socials {
    width:100%;
}

.partner-logo {
    float: left;
    margin-right: 20px;
}

.form-attend {
    font-size:16px;
    font-family: "Roboto",sans-serif !important;
    text-align: center;
}

.form-attend select,
.form-attend input {
    height:36px;
    font-size:16px;
}

.form-field {
    margin-bottom:8px;
    text-align: left;
}

.camp-attend-fields-block {
    display: inline-block;
    width:360px;
    vertical-align: top;
}

@media (max-width:767px){
    .camp-attend-fields-block {
        width:100%;
    }
}   

.col-label {
    display: block;
    text-align: left;    
}

.col-controls {

}

.col-controls .input-group {
    display: block;
}

.col-controls .input-group input,
.col-controls .input-group select {
    display: inline;
    border:1px solid #DDD;
    text-indent: 5px;
    width:300px;
}

.col-controls .help-text {
    margin-bottom:5px;
    font-size:12px;
    color:#AAA;
}

.form-attend button {
    cursor: pointer;
    padding:10px 20px;
}

@media (max-width:767px){
    .col-controls .input-group select,
    .col-controls .input-group input {
        width:99%;
        margin-left:2px;
        margin-right:2px;
    }

    .form-attend button {
        display: block;
        text-align: center;
        width:100%;
    }
}

@media (min-width:768px){

}

.form-message {
    margin-top:30px;
}

i.show-more {
    font-size:24px;
    cursor: pointer;
}

.staff-item {
    text-align: center;
}

.staff-info {
    width:350px !important;
}

.staff-info.staff-details {
    display: none;
}

.staff-contacts {
    text-align: center;
}

.staff-contacts a {
    display: inline;
    margin:0 5px;

}

.staff-contacts i {
    font-size:16px;
}

.camp-info-details {
    display: none;
}

#camp_cost {
    height: 36px;
    font-weight: 700;
}

.maps-container {
    cursor: alias;
}

.partners-logos-list {
    text-align: center;
    margin-bottom:20px;
}

.partner-list-logo {
    display: inline;
    margin:0 10px;
}

.partner-list-logo img {
    max-height: 40px;
    display: inline;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

a.partner-list-logo:hover img {
    -webkit-filter: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter:none;
}

.open-menu, .header-nav-item {
    position: static;
    float: left;
    height: 24px;
    margin-left:25px;
    margin-right: 0px;
    margin-top: 20px;
    font-family: Roboto, sans-serif;
    color: #FFF;
    font-size: 14px;
}

.open-menu i {
    line-height: 24px;
    height:auto;
    width:25px;
}

.open-menu {
    margin-left: 25px;
    width: 25px;
    margin-top: 17px;
}

.header-nav-item.active {
    color:#FF0000;
}


@media (max-width:767px){
    .header-nav-hide-on-mobile {
        display: none;
    }
    .header-nav-item {
        display: none;
    }
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
select
{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    box-sizing:border-box;
}

#maininfo { position: relative; top:-30px;}
#services,
#staff,
#howitworks,
#attend,
#partners,
#contacts { position: relative; top:-60px;}

.header-logo {
    background: none; /*url(/static/images/awc_logo.png) no-repeat center center;*/
    height:48px;
    margin-top:6px;
}

.sidebar-logo a {
    background: url(/static/images/camp/logos/awc_240_inverted.png) no-repeat center center;
    width:240px;
    height:240px;
    margin-left:10px;
    margin-top:10px;
    background-size: 100% auto;
}

.header-logo img {
    width: 100%;
}

#content > .content {
  margin-top: 0;
}

.mainpage-slider-container .arrow-scroll-down {
    margin-left:-10px;
}

@media all and (max-width: 512px){
    .content-heading img {
        width:auto;
    }
}

.trip-day{
    color:#FFFFFF!important;
}

.trip-day i{
    color:#2980b9;
}

.calendar-hour {
    display: none;
}

.calendar-day-header {
    display: none;
}