.dark-overlay {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.content-heading .overlay {
	background-color: rgba(0, 0, 0, 0.5);
}

.slider-camp-1{background-image:url(../images/camp/top/1280x720_1st.jpg);}
.slider-camp-2{background-image:url(../images/camp/top/1280x720_2nd.jpg);}
.slider-camp-3{background-image:url(../images/camp/top/1280x720_3rd.jpg);}

@media (min-width:1025px){
    .slider-camp-1{background-image:url(../images/camp/top/2048x1152_1st.jpg);}
    .slider-camp-2{background-image:url(../images/camp/top/2048x1152_2nd.jpg);}
    .slider-camp-3{background-image:url(../images/camp/top/2048x1152_3rd.jpg);}    
}

@media all and (orientation:portrait){
    .slider-camp-1{background-image:url(../images/camp/top/768x1024_1st.jpg);}
    .slider-camp-2{background-image:url(../images/camp/top/768x1024_2nd.jpg);}
    .slider-camp-3{background-image:url(../images/camp/top/768x1024_3rd.jpg);}       
}

.slider-style {
    position:absolute;
    width:100%;
    top:50%;
    z-index:9999;
}

.slider-style p{
    text-align:center;
    width:70%;
    margin-left:auto;
    margin-right:auto;
    font-size:14px;
    font-family:'Roboto', sans-serif;
}

.slider-style h2{
    color:#FFFFFF;
    text-align:center;
    font-weight:800;
    text-transform:uppercase;
    font-size:51px;
    line-height:50px;
    padding-bottom:0px;
    font-family:'Roboto', sans-serif;
}

.slider-style h3{
    color:#FFFFFF;
    text-align:center;
    font-size:22px;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:30px;
    font-family:'Roboto', sans-serif;
}

.slider-button-1{
    width:200px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
    font-family:'Roboto', sans-serif;
    margin-bottom:20px;
    transition:all 200ms ease;
}

.slider-button-1:hover{
    transform:scale(0.95, 0.95);  
    transition:all 200ms ease;
}

.slider-button-2{
    width:200px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    font-weight:500;
    text-transform:uppercase;
    text-align:center;
    padding-top:12px;
    padding-bottom:12px;
    font-family:'Roboto', sans-serif;
    margin-bottom:20px;
    color:#cacaca;
    transition:all 200ms ease;
}

.slider-button-2:hover{
    transform:scale(0.95, 0.95);  
    transition:all 200ms ease;
}

.button-line{
    border:solid 1px #cacaca;
}

.slider-button-1:hover{color:#FFFFFF;}
.slider-button-2:hover{color:#FFFFFF;}

@media (min-width:600px){
    .slider-style.slider-style-3 h3,
    .slider-style.slider-style-3 h2,
    .slider-style.slider-style-3 p {
        text-indent: -270px;        
    }
}

.swiper-container {
	height: 300px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.slick-slide img {
    display: block;
    height: auto;
    width: 100% !important;
}


.center-socials {
  width:100%;
}

.footer-socials {
    width:100%;
}

.partner-logo {
    float: left;
    margin-right: 20px;
}

.form-attend {
    font-size:16px;
    font-family: "Roboto",sans-serif !important;
}

.form-attend label,
.form-attend select,
.form-attend input {
    line-height: 36px;
}

.form-field {
    margin-bottom:8px;    
}

.form-attend .one-half-responsive {
    margin-right: 2%;
}

.col-controls {

}

.col-controls .input-group {
    display: block;
}

.col-controls .input-group input,
.col-controls .input-group select {
    display: inline;
    border:1px solid #DDD;
    text-indent: 10px;
    min-width:300px;
}

.col-controls .help-text {
    margin-bottom:5px;
    font-size:12px;
    color:#AAA;
}

.form-attend button {
    cursor: pointer;
    padding:10px 20px;
}

@media (max-width:767px){
    .form-attend button {
        display: block;
        text-align: center;
        width:100%;
    }

    .col-label label {
        display: block;
        text-align: left;
    }
}

@media (min-width:768px){
    .col-label label {
        text-align: right;
    }
}

.form-message {
    margin-top:30px;
}

i.show-more {
    font-size:24px;
    cursor: pointer;
}

.staff-item {
    text-align: center;
}

.staff-info {
    width:350px !important;
}

.staff-info.staff-details {
    display: none;
}

.staff-contacts {
    text-align: center;
}

.staff-contacts a {
    display: inline;
    margin:0 5px;

}

.staff-contacts i {
    font-size:16px;
}

.camp-info-details {
    display: none;