.webcameras h3, h4 {
  color:#333;
  padding:10px;
}

.webcameras .resort-info {
  cursor: pointer;
}

.webcameras .show-resort-additional-info {
  cursor:pointer;
  color:#999;
  margin-left:4px;
  vertical-align: middle;

}

.webcameras .resort-additional-info {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.webcameras img{
  width:100%;
  padding:10px;
  min-height: 200px;
  min-width:200px;
}

.webcamera-image-block {
  position: relative;
}

.webcamera-reload {
    color: #fff;
    cursor: pointer;
    font-size: 50px;
    left: 50%;
    margin-left: -15px;
    margin-top: -30px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    z-index: 1;
    text-shadow:0 0 10px #666;
}

.desktop-client .webcamera-reload:hover{
  opacity: 1;
}

/* размер иконок погоды */
.weather i {
  font-size:24px;
}

.weather i.warning {
  color:#E09D51;
}
.weather i.danger {
  color:#a94442;
}
.weather i.ok {
  color:#277D1E;
}