<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <meta charset="utf-8">
    <meta property="og:title" content="{% block title %}{% endblock %}" />
    <meta property="og:description" content="{% block description %}{% endblock %}" />
    <meta property="og:url" content="{% block url %}{% endblock %}" />
    <meta property="og:image" content="{% block image %}{% endblock %}" />

    <meta name="title" content="{{ self.title() }}" />
    <meta name="description" content="{{ self.description() }}" />
    <link rel="image_src" href="{{ self.image() }}" />
    <title>{{ self.title() }}</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.min.css')}}">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/modernizr.min.js')}}"></script>
    {% block head_scripts %}{% endblock %}
</head>
<body class="{% if not request.MOBILE %}desktop-client{% else %}mobile-client{% endif %}">
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5VS7S9" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-5VS7S9');</script>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% if request.url_rule.endpoint == 'index' %}#{% else %}/{% endif %}"><img src="{{ url_for('static', filename='images/logo.png')}}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="navbar_collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li {% if request.url_rule.endpoint == 'webkamery' %}class="active"{% endif %}><a href="{{ url_for('webkamery', location_suffix=location_suffix)}}">Веб-камеры <span class="sr-only">(current)</span></a></li>
                    {#<li {% if request.url_rule.endpoint == 'gdepokatatsya' %}class="active"{% endif %}><a href="{{ url_for('gdepokatatsya', location_suffix=location_suffix)}}">Где покататься</a></li>#}
                </ul>
                <ul class="nav navbar-nav navbar-right nav-social">
                    <li><a class="vk" href="http://vk.com/apresworkco" target="_blank"><i class="fa fa-vk"></i></a></li>
                    <li><a class="instagram" href="http://instagram.com/apresworkco" target="_blank"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/libs.min.js') }}"></script>
    {% block footer_scripts %}{% endblock %}
</body>