{% extends "base2.html" %}
{% block title %}Homies comunity - apres-work.co{% endblock %}
{% block description %}Комьюнити локальных райдеров{% endblock %}
{% block url %}http://apres-work.co/{% endblock %}
{% block image %}{{ url_for('static', filename='images/bg_mainpage_social.jpg')}}{% endblock %}
{% block head_scripts %}
{#<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">#}
{% endblock %}
{% block footer_scripts %}
<script>
$ = jQuery;
var index = (function(){
    return {
        init : function(){
            $('.arrow-scroll-down').on('click', function(){
                console.log('1');
                $('#content').animate({
                    scrollTop:600//$('.slider-style').height()
                }, 800, 'easeInOutQuad');
            })
        }
    }
})();

var subscription = (function(){
    var doSubscribe  = function(url, data){
        $.ajax({
            url : url, 
            data : data,
            method : "POST",
            cache : false,
            timeout: 5000,
            beforeSend : function(){
                $('.subscription .messages').html('');
            }
        }).done(function(rpo){
            switch(rpo.CODE){
                case "0":
                    $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-green', text : rpo.TEXT}));
                    $('.subscription form').addClass('hidden');
                    break;
                default:
                    $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-yellow', text : rpo.TEXT}));
                    break;
            }
        }).fail(function(){
            $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-yellow', text : 'Произошла ошибка. Попробуйте еще раз'}));
        });
    };

    return {
        init : function(){
            $('.subscription form').on('submit', subscription.subscribe);
        },
        subscribe : function(e){
            e.preventDefault();
            doSubscribe($('.subscription form').attr('action'), $('.subscription form').serialize());
        }
    }
})();

$(function(){
    $.scrollIt();
    index.init();
    subscription.init();
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="snap-content">
    <div class="header">
        <a href="/" class="header-logo"></a>
        <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
    </div>
    <div class="mainpage-slider-container">
        <i class="arrow-scroll-down fa fa-angle-double-down animated infinite pulse"></i>
        <div class="full-slider full-bottom" data-snap-ignore="true">     
            <!-- Image Slider Style 1-->
            <div>
                <div class="overlay dark-overlay"></div>
                <div class="slider-image slider-image-1">  
                    <div class="slider-style" style="height:270px; margin-top:-135px">
                        <h2>Катайся</h2>
                        <h3>в компании друзей</h3>
                        <p>
                            после работы или учебы, а так же в выходные, ведь вместе веселее и дешевле.
                        </p>
                        {#<a href="#" class="slider-button-1 button-green">Get Started</a>#}
                    </div>
                </div>
            </div>
            <!-- Image Slider Style 2-->
            <div>
                <div class="overlay dark-overlay"></div>
                <div class="slider-image slider-image-2">
                    <div class="slider-style" style="height:260px; margin-top:-130px;">
                        <h2>Знакомься</h2>
                        <h3>с другими райдерами</h3>
                        <p>
                            и заводи новый друзей для совместного катания.
                        </p>
                        {#<a href="#" class="slider-button-1 button-blue"></a>#}
                    </div>
                </div>
            </div>
            <!-- Image Slider Style 3-->
            <div>
                <div class="overlay dark-overlay"></div>
                <div class="slider-image slider-image-3">
                    <!-- Add your slide height, then margin top must be minus half of that to be perfectly centered -->
                    <div class="slider-style slider-style-3" style="height:240px; margin-top:-120px">
                        <h2>Прогрессируй</h2>
                        <h3>в сложности трюков и стиле</h3>
                        <p>
                            тренеруясь или просто катаясь по фану
                        </p>
                        {#<a href="#" class="slider-button-1 button-red">Alternate Homepage</a>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">       
        <div id="description" data-scroll-index="0" class="project-description container large-title no-bottom">
            <h3>Salut gars!</h3>
            <p>
                ... или добро пожаловать в комьюнити локальных райдеров.
            </p>
            <div class="center-socials">
                <a href="//vk.com/apresworkco" class="vkontakte-color vk-social"><i class="fa fa-vk"></i></a>
                <a href="//instagram.com/apresworkco" class="instagram-color instagram-social"><i class="fa fa-instagram"></i></a>
            </div>
            <p>
                apres-work, это почти что калька с французского apres-ski, только это не алкопати после катания, а катание по будням, после работы или учебы.<br>
            </p>
            <p>
                <strong>Основная идея - катание группой со скидкой на скипасы</strong>.<br>Работает просто - набирается группа от 8-10 чел и каждый получает скидку на катание или спец.бонус от спота.
            </p>
            <p>
            Как все происходит: за 3 дня открываем <a href="//vk.com/apresworkco" target="_blank">голосование</a> куда едем, за день голосование закрывается и становится доступна страница для записи. <br>Если едешь - оставляй на странице имя и номер телефона. Как только наберется группа, ты сразу получишь смс с кодом. Этот код называешь при оплате в парке или на кассе и получаешь скидку.
            </p>
            <p>
            Вот так вот просто: нажал на кнопку - получил скидку.</p>
            </p>
        </div>
        <div class="subscription">
            <p class="description">Подпишитесь на новости чтобы узнать о старте проекта первыми!</p>
            <form action="{{ url_for('subscribe', location_suffix=location_suffix) }}" method="POST" id="form_subscribe">
                {{ form.hidden_tag() }}
                <div class="form-group group-email-lbl">
                    <label for="email">E-mail:</label>
                </div>
                <div class="form-group group-email">
                    {{ form.email(class_="input-lg")}}
                </div>
                <div class="form-group group-submit">
                    <button class="button button-green" type="submit"><i class="fa fa-envelope"></i>&nbsp;Подписаться</button>
                </div>
            </form>
            <div class="messages"></div>
        </div>
        <div class="decoration"></div>
    </div>
        
    <!-- Page Footer-->
    <div class="footer">
        <div class="footer-socials half-bottom">
            <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
            <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
        </div>
        <p class="center-text">2015&nbsp;&copy;&nbsp;apres-work.co</p>
    </div>       
</div>
    
<div class="share-bottom">
    <h3>Поделиться</h3>
    <div class="share-socials-bottom">
        <a href="http://vk.com/share.php?url={{request.url}}" target="_blank">
            <i class="fa fa-vk vkontakte-color"></i>
            Vkontakte
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.path }}" target="_blank">
            <i class="fa fa-facebook facebook-color"></i>
            Facebook
        </a>
        <a href="sms:?body=Hi!%20There%20are%20web-cameras%20and%20weather%20forecast%20for%20all%20ski%20resorts%20in%20our%20location.%20Check it!">
            <i class="fa fa-comment-o sms-color"></i>
            SMS
        </a>
        <a href="mailto:?&subject=Resorts%20list&body=Hi!%0A%0AThere%20are%20web-cameras%20and%20weather%20forecast%20for%20all%20ski%20resorts%20in%20our%20location.%20Check it!">
            <i class="fa fa-envelope-o mail-color"></i>
            Email
        </a>
    </div>
    <a href="#" class="close-share-bottom">Закрыть&nbsp;<i class="fa fa-times"></i></a>
</div>
{% endblock %}