{% extends "base.html" %}
{% block title %}{{ _("Homepage of Homies comunity")}}{% endblock %}
{% block description %}{{ _("Welcome to community of local riders! It's community of clever riders - join us and get the cheapest way to ride in the snowparks, to jump on trampolines and to drink in extreme bars from time to time!")}}{% endblock %}
{% block url %}http://apres-work.co/{% endblock %}
{% block image %}{{ url_for('static', filename='images/bg_mainpage_social.jpg')}}{% endblock %}
{% block head_scripts %}
{#<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet" type="text/css">#}
{% endblock %}
{% block footer_scripts %}
<script>
$ = jQuery;
var index = (function(){
    return {
        init : function(){
            $('.arrow-scroll-down').on('click', function(){
                console.log('1');
                $('#content').animate({
                    scrollTop:600//$('.slider-style').height()
                }, 800, 'easeInOutQuad');
            })
        }
    }
})();

var subscription = (function(){
    var doSubscribe  = function(url, data){
        $.ajax({
            url : url, 
            data : data,
            method : "POST",
            cache : false,
            timeout: 5000,
            beforeSend : function(){
                $('.subscription .messages').html('');
            }
        }).done(function(rpo){
            switch(rpo.CODE){
                case "0":
                    $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-green', text : rpo.TEXT}));
                    $('.subscription form').addClass('hidden');
                    break;
                default:
                    $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-yellow', text : rpo.TEXT}));
                    break;
            }
        }).fail(function(){
            $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-yellow', text : _("An error occured. Please, try one more time")}));
        });
    };

    return {
        init : function(){
            $('.subscription form').on('submit', subscription.subscribe);
        },
        subscribe : function(e){
            e.preventDefault();
            doSubscribe($('.subscription form').attr('action'), $('.subscription form').serialize());
        }
    }
})();

$(function(){
    $.scrollIt();
    index.init();
    subscription.init();

    var endDate = "{{ countdown_time }}";
    
    $('.countdown').countdown({
      date: endDate,
      render: function(data) {
        $(this.el).html(
        "<div class='countdown-box box-years'><div class='countdown-years'>" + this.leadingZeros(data.years, 2) + 
        "</div><span>years</span></div><div class='countdown-box box-days'><div class='countdown-days'>" + this.leadingZeros(data.days, 2) + 
        "</div><span>days</span></div><div class='countdown-box box-hours'><div class='countdown-hours'>" + this.leadingZeros(data.hours, 2) + 
        "</div><span>hours</span></div><div class='countdown-box box-minutes'><div class='countdown-minutes'>" + this.leadingZeros(data.min, 2) + 
        "</div><span>min</span></div><div class='countdown-box box-seconds'><div class='countdown-seconds'>" + this.leadingZeros(data.sec, 2) + 
        "</div><span>sec</span></div>");
      }
    });
});
</script>
{% endblock %}

{% block content %}
<div id="content" class="snap-content">
    <div class="header">
        <a href="/" class="header-logo">apres-work.co</a>
        <a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>
    </div>

    <div class="soon-page-wrapper">
            <div class="soon-page">
                <h1>{{_("Coming Soon")}}</h1>
                <h4>{{_("We're still working on this page!")}}</h4>
                <p>
                    {{ _("Honestly, we are riding...")}}
                    <br>
                    {{ _("We'll finish this page when we get back!")}}
                </p>
                <div class="countdown"></div>
                <a href="#" onclick="window.history.back();" class="soon-button"><i class="fa fa-angle-left"></i>{{ _("Go back") }}</a>
            </div>
            <div class="overlay"></div>
        </div>
        
    <!-- Page Footer-->
    <div class="footer">
        <div class="footer-socials half-bottom">
            <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
            <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
        </div>
        <p class="center-text">2015&nbsp;&copy;&nbsp;apres-work.co</p>
    </div>       
</div>
    
<div class="share-bottom">
    <h3>{{ _("Share")}}</h3>
    <div class="share-socials-bottom">
        <a href="http://vk.com/share.php?url={{request.url}}" target="_blank">
            <i class="fa fa-vk vkontakte-color"></i>
            Vkontakte
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.path }}" target="_blank">
            <i class="fa fa-facebook facebook-color"></i>
            Facebook
        </a>
        <a href="sms:?body=Hi!%20There%20are%20web-cameras%20and%20weather%20forecast%20for%20all%20ski%20resorts%20in%20our%20location.%20Check it!">
            <i class="fa fa-comment-o sms-color"></i>
            SMS
        </a>
        <a href="mailto:?&subject=Resorts%20list&body=Hi!%0A%0AThere%20are%20web-cameras%20and%20weather%20forecast%20for%20all%20ski%20resorts%20in%20our%20location.%20Check it!">
            <i class="fa fa-envelope-o mail-color"></i>
            Email
        </a>
    </div>
    <a href="#" class="close-share-bottom">{{ _("Close") }}&nbsp;<i class="fa fa-times"></i></a>
</div>
{% endblock %}