{% extends "base.html" %}
{% block title %}{{_("Les Deux Alpes Summer Camp - apres-work.co")}}{% endblock %}
{% block description %}{{_("Ski in the summer? We’ve got it all figured out. 12 days in Les Deux Alpes, France with Apres-Work Camps. Shredding, coaching, relaxing and partying...because skiing’s more fun with friends")}}{% endblock %}
{% block url %}{{ url_for('camps_page', language_suffix=language_suffix, location_suffix=location_suffix, id=camp.id) }}{% endblock %}
{% block image %}{{ url_for('static', filename='images/camp/top/2048x1536_1st.jpg')}}{% endblock %}
{% block head_scripts %}
<link href="{{ url_for('static', filename='css/camp.css', v='3') }}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/lib/slick.css')}}" rel="stylesheet" type="text/css">
<link href="{{ url_for('static', filename='css/lib/slick-theme.css')}}" rel="stylesheet" type="text/css">
<script>disableSnap = true;</script>
<style>
{% for top_slide in top_slides %}
.slider-camp-{{top_slide.index}} { background-image:url({{top_slide.img_url_mobile}}); }
{% endfor %}
@media (min-width:1025px){
{% for top_slide in top_slides %}
    .slider-camp-{{top_slide.index}} { background-image:url({{top_slide.img_url_desktop}}); }
{% endfor %}
}
@media all and (orientation:portrait){
{% for top_slide in top_slides %}
    .slider-camp-{{top_slide.index}} { background-image:url({{top_slide.img_url_vertical}}); }
{% endfor %}
}
.snap-drawers { display: none; } {# hide menu #}
</style>
 
{% endblock %}
{% block footer_scripts %}
<script src="{{ url_for('static', filename='js/lib/slick.min.js')}}"></script>
<script>
$ = jQuery;
var index = (function(){
    return {
        init : function(){
            $('.arrow-scroll-down').on('click', function(){ //scroll down icon
                $('#content').animate({
                    scrollTop: $('#maininfo').position().top
                }, 800, 'easeInOutQuad');
                $('i.show-more.show-staff-details').on('click', function(){
                    $(this).parents('.staff-slider').find('.show-staff-details').hide();
                    $(this).parents('.staff-slider').find('.staff-details').slideDown();
                });
                $('i.show-more.show-camp-info-details').on('click', function(){
                    $(this).hide();
                    $(this).parent().find('.camp-info-details').slideDown();
                });
            });
        }
    }
})();

var subscription = (function(){
    var doSubscribe  = function(url, data){
        $.ajax({
            url : url, 
            data : data,
            method : "POST",
            cache : false,
            timeout: 5000,
            beforeSend : function(){
                $('.subscription .messages').html('');
            }
        }).done(function(rpo){
            switch(rpo.CODE){
                case "0":
                    $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-green', text : rpo.TEXT}));
                    $('.subscription form').addClass('hidden');
                    break;
                default:
                    $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-yellow', text : rpo.TEXT}));
                    break;
            }
        }).fail(function(){
            $('.subscription .messages').append($('<div>', { 'class' : 'static-notification-yellow', text : '{{ _("An error occured. Please, try one more time")}}'}));
        });
    };

    return {
        init : function(){
            $('.subscription form').on('submit', subscription.subscribe);
        },
        subscribe : function(e){
            e.preventDefault();
            doSubscribe($('.subscription form').attr('action'), $('.subscription form').serialize());
        }
    }
})();

var formAttend = (function(){
    return {
        init : function(){

        }
    }
})();

var camp = (function(){
    $formContainer = $('.block-camp-attend');
    $form = $formContainer.find('form.form-attend');
    $formMessageContainer = $formContainer.find('.form-message-container');

    var options = {};

    doEnableControls = function(){
        $form.find('button').removeAttr('disabled');
    },
    doDisableControls = function(){
        $form.find('button').attr('disabled', 'disabled');
    },
    clearFormMessages = function(){
        $form.find('.form-field').removeClass('field-warning');
        $formMessageContainer.html('');
    },
    showFieldMessage = function(){

    },
    showFormMessage = function(message, className){
        $formMessageContainer.append(
            $('<div>', { 'class' : className, 'html' : 
                $('<p>', { 'class' : 'center-text uppercase', 'text' : message})
            })
        );
    },
    doAttend = function(e){
        e.preventDefault();
        doDisableControls();
        clearFormMessages();
        errors = false;
        $form.find('input').each(function(idx){
            if($(this).val() == ''){
                errors = true;
                $(this).parents('.form-field').addClass('field-warning');
            }
        });
        if(errors){
            showFormMessage("{{ _('Please, fill all the fields') }}", 'static-notification-yellow ');
            doEnableControls();
            return;
        }
        data = $(this).serialize();
        $.ajax({
            url : $(this).attr('action'), 
            data : data,
            method : "POST",
            cache : false,
            timeout: 10000,
        }).done(function(rpo){
            switch(rpo.CODE){
                case "0":
                    showFormMessage(rpo.TEXT, 'static-notification-green');
                    $form.find('input, select, textarea').attr('disabled', 'disabled');
                    $form.find('button').hide();
                    $('.form-attend-share').removeClass('hidden');
                    break;
                default:
                    showFormMessage(rpo.TEXT, 'static-notification-yellow');
                    break;
            }
            doEnableControls();
        }).fail(function(){
            showFormMessage('{{ _("An error occured. Please, try one more time") }}', 'static-notification-yellow ')
            doEnableControls();
        });
    },
    reCalcOption = function(e){
        var init_cost = $('#camp_form').attr('data-cost-initial'),
            currency = $('#camp_form').attr('data-cost-currency');

            cost = parseInt(init_cost);
            $('#camp_form select').each(function(){
                var group = $(this).attr('id');
                var value = $(this).val();
                if((options[group])&&(options[group][value])) cost+=parseInt(options[group][value]);
            });

        $('#camp_cost').text(cost+' '+currency);
    }

    return {
        init : function(){
            $('form.form-attend').on('submit', doAttend);
            doEnableControls();

            {% for option in signup_block.options %}
            if(!options['{{option.group}}']) options['{{option.group}}'] = {};
            options['{{option.group}}']['{{option.value}}'] = {{option.cost}};
            {% endfor %}

            $('#camp_form select').on('change', reCalcOption);
            reCalcOption();
        }
    }
})();

$(function(){
    $.scrollIt();
    index.init();
    subscription.init();
    camp.init();
    $('.slider-bottom').slick({
        dots: true,
        infinite: true,
        speed: 300,
        autoplay: true,
        autoplaySpeed: 2000
    });
    $('i.show-more.show-staff-details').on('click', function(){
        $(this).parents('.staff-slider').find('.show-staff-details').hide();
        $(this).parents('.staff-slider').find('.staff-details').slideDown();
    });
    $('i.show-more.show-camp-info-details').on('click', function(){
        $(this).hide();
        $(this).parent().find('.camp-info-details').slideDown();
    });
    $('.maps-container').on('click', function(){
        window.open($(this).find('iframe').attr('src'));
    });
    snapper.disable();
});
</script>
{% endblock %}

{% block content %}
<div class="header">
        <a href="/" class="header-logo">apres-work.co</a>
        <!--<a href="#" class="open-menu"><i class="fa fa-navicon"></i></a>-->
        <a href="#top" class="header-nav-item"><i class="fa fa-angle-double-up"></i></a>
        <a href="#maininfo" class="header-nav-item"><i class="fa fa-bullhorn"></i></a>
        <a href="#services" class="header-nav-item"><i class="fa fa-rocket"></i></a>
        <a href="#staff" class="header-nav-item"><i class="fa fa-users"></i></a>
        <a href="#howitworks" class="header-nav-item"><i class="fa fa-puzzle-piece"></i></a>
        <a href="#attend" class="header-nav-item"><i class="fa fa-user-plus"></i></a>
        <a href="#partners" class="header-nav-item"><i class="fa fa-cubes"></i></a>
        <a href="#contacts" class="header-nav-item"><i class="fa fa-envelope"></i></a>
    </div>
<div id="content" class="snap-content">
    
    <div id="top" class="mainpage-slider-container nav-anchor">
        <i class="arrow-scroll-down fa fa-angle-double-down animated infinite pulse"></i>
        <div class="full-slider full-bottom" data-snap-ignore="true">     
            {% for top_slide in top_slides %}
            <div>
                <div class="overlay dark-overlay" {% if request.args['overlay'] %}style="background-color: rgba(0, 0, 0, {{request.args['overlay']}}) !important;"{%endif%}></div>
                <div class="slider-image slider-camp-{{top_slide.index}}">  
                    <div class="slider-style slider-camp-style-{{top_slide.index}}" style="height:270px; margin-top:-135px">
                        <h2>{{ get_data_by_lang(top_slide, '_header', 'en')|safe }}</h2>
                        <p style="color:#FFF;font-size:20px;">
                            {{ get_data_by_lang(top_slide, '_subheader', 'en')|safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div id="maininfo" class="nav-anchor"></div>
    <div class="content">       
        <div class="container large-title no-bottom">
            <h3>{{ get_data_by_lang(top_info_block, '_header', 'en')|safe }}</h3>
            <p>
                {{ get_data_by_lang(top_info_block, '_subheader', 'en')|safe }}
            </p>

            <div class="center-socials">
                <a href="#" class="facebook-color facebook-social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="google-color google-social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="twitter-color twitter-social"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
        <div class="decoration"></div>
    </div> 
    

    <div id="services" class="nav-anchor"></div>
    <!-- Content Heding -->
    <div class="content-heading">
        <h4>{{ get_data_by_lang(services_block, '_header', 'en')|safe }}</h4>
        <p>{{ get_data_by_lang(services_block, '_subheader', 'en')|safe }}</p>
        <i class="fa fa-rocket"></i>
        <div class="overlay"></div>
        <img src="{{ get_img_src('images/camp/bg/', '1024x200_1.jpg', '512x100_1.jpg')}}" alt="">
    </div>
    
    <!-- Page Content-->
    <div class="content">
        <div class="decoration"></div>
        <div class="container no-bottom">
            {% for service in services_block.services %}
            <div class="one-half-responsive {{loop.cycle('', 'last-column')}}">
                <p class="{{ loop.cycle('thumb-left', 'thumb-right') }} no-bottom">
                    <img src="{{ service.img_link }}" alt="{{ get_data_by_lang(service, '_header', 'en') }}">
                    <strong>{{ get_data_by_lang(service, '_header', 'en')|safe }}</strong>
                    <em><br>{{ get_data_by_lang(service, '_subheader', 'en')|safe }}</em>
                </p>
                <div class="thumb-clear"></div>
            </div>
            <div class="decoration hide-if-responsive"></div>    
            {% endfor %}
        </div>
        <div class="decoration"></div>             
    </div>
    
    <div id="staff" class="nav-anchor"></div>
    <!-- Content Heading -->
    <div class="content-heading">
        <h4>{{ get_data_by_lang(staff_block, '_header', 'en')|safe }}</h4>
        <p>{{ get_data_by_lang(staff_block, '_subheader', 'en')|safe }}</p>
        <i class="fa fa-users"></i>
        <div class="overlay"></div>
        <img src="{{ get_img_src('images/camp/bg/', '1024x200_2.jpg', '512x100_2.jpg')}}" alt="Staff background">
    </div> 
    
    <!-- Page Content-->
    <div class="content">
        <div class="decoration"></div>
        <!-- Staff Slider-->
        <div class="container">
            <a href="#" class="next-staff"></a>
            <a href="#" class="prev-staff"></a>
            <div class="staff-slider" data-snap-ignore="true">
                {% for member in staff_block.staff %}
                <div>
                    <div class="staff-item">
                        <img src="{{ member.img_link}}" alt="{{ get_data_by_lang(member, '_name', 'en') }}">
                        <h4>{{ get_data_by_lang(member, '_name', 'en')|safe }}</h4>
                        <em>{{ get_data_by_lang(member, '_role', 'en')|safe }}</em>
                        <strong class="staff-info">
                            {{ get_data_by_lang(member, '_info', 'en')|safe }}
                        </strong>
                        <i class="fa fa-ellipsis-h show-more show-staff-details"></i>
                        <strong class="staff-info staff-details">{{ get_data_by_lang(member, '_hidden', 'en')|safe }}
                        </strong>
                        <div class="staff-contacts">{{ get_data_by_lang(member, '_contacts', 'en')|safe }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>  
        <div class="decoration"></div>
    </div>
    
    <div id="howitworks" class="nav-anchor"></div>
    <!-- Content Heading-->
    <div class="content-heading">
        <h4>{{ get_data_by_lang(main_info_block, '_header', 'en')|safe }}</h4>
        <p>{{ get_data_by_lang(main_info_block, '_subheader', 'en')|safe }}</p>
        <i class="fa fa-puzzle-piece"></i>
        <div class="overlay"></div>
        <img src="{{ get_img_src('images/camp/bg/', '1024x200_3.jpg', '512x100_3.jpg')}}" alt="img">
    </div>
    
    <!-- Page Content-->
    <div class="content">
        <div class="decoration"></div>
            <div class="container" data-snap-ignore="true">
                <div class="one-half-responsive">
                    <div class="slider-bottom">
                        {% if request.MOBILE %}
                            {% for photo in main_info_block.photos %}
                                <div><img src="{{ photo.img_link_mobile }}"></div>
                            {% endfor %}
                        {% else %}
                            {% for photo in main_info_block.photos %}
                                <div><img src="{{ photo.img_link_desktop }}"></div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="one-half-responsive last-column">
                    <h3 class="center-if-mobile no-bottom">{{ get_data_by_lang(main_info_block, '_text_header', 'en')|safe }}</h3>
                    <em class="center-if-mobile small-text half-bottom">{{ get_data_by_lang(main_info_block, '_text_subheader', 'en')|safe }}</em>
                    <p class="center-if-mobile half-bottom">
                        {{ get_data_by_lang(main_info_block, '_top_text', 'en')|safe }}
                    </p>
                    <i class="fa fa-ellipsis-h show-more show-camp-info-details"></i>
                    <p class="camp-info-details center-if-mobile half-bottom">
                        {{ get_data_by_lang(main_info_block, '_hidden_text', 'en')|safe }}
                    </p>
                    <p class="center-if-mobile half-bottom">
                        {{ get_data_by_lang(main_info_block, '_bottom_text', 'en')|safe }}
                    </p>
                </div>
            </div>
        <div class="decoration"></div>
    </div>

    <div id="attend" class="nav-anchor"></div>
    <!-- Content Heading-->
    <div class="content-heading">
        <h4>{{ get_data_by_lang(signup_block, '_header', 'en')|safe }}</h4>
        <p>{{ get_data_by_lang(signup_block, '_subheader', 'en')|safe }}</p>
        <i class="fa fa-user-plus"></i>
        <div class="overlay"></div>
        <img src="{{ get_img_src('images/camp/bg/', '1024x200_1.jpg', '512x100_1.jpg')}}" alt="img">
    </div>

    <div class="content block-camp-attend">
        <h3 class="center-text">{{ get_data_by_lang(signup_block, '_form_header', 'en')|safe }}</h3>
        <div class="decoration"></div>
            <div class="container">
                <form id="camp_form" method="POST" action="{{ url_for('camps_attend', language_suffix=language_suffix, location_suffix=location_suffix, id=camp.id) }}" class="form-attend" data-cost-initial="{{ signup_block.initial_cost }}" data-cost-currency="{{ signup_block.currency }}">
                    <div class="camp-attend-fields-block">{# begin of left field set#}
                        {% for field in mailchimp_form %}
                        <div class="form-field">
                            <div class="col-label">
                                <label class="left-if-mobile" for="{{ field.tag }}">{{ field.name }}</label>
                            </div>
                            <div class="col-controls">
                                <div class="input-group">
                                    {% if field.field_type == 'dropdown' %}
                                    <select id="{{ field.tag }}" name="{{ field.tag }}">
                                        {% for choice in field.choices %}
                                        <option value="{{ choice }}">{{ choice }}</option>
                                        {% endfor %}
                                    </select>
                                    {% elif field.field_type == 'radio' %}
                                        {% for choice in field.choices %}
                                            <input type="radio" id="{{ field.tag }}" name="{{ field.tag }}" value="{{ choice }}">&nbsp;{{ choice }}
                                        {% endfor %}
                                    {% elif field.field_type == 'email' %}
                                    <input type="email" id="{{ field.tag }}" name="{{ field.tag }}">
                                    {% elif field.field_type == 'phone' %}
                                    <input type="tel" id="{{ field.tag }}" name="{{ field.tag }}">
                                    {% elif field.field_type == 'date' %}
                                    <input type="date" id="{{ field.tag }}" name="{{ field.tag }}">
                                    {% else %}
                                    <input type="text" id="{{ field.tag }}" name="{{ field.tag }}">
                                    {% endif %}
                                    {% if field.helptext %}
                                        <p class="help-text">{{ field.helptext }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if field.tag == 'SKILL' %} {# if skill field reached, then put new fields in second column #}
                    </div>
                    <div class="camp-attend-fields-block">
                        {% endif %}
                        {% endfor %}
                    {% if signup_block.initial_cost %}
                    <div class="form-field">
                        <div class="col-label">
                            <label class="left-if-mobile">Camp cost:</label></div>
                        <div class="col-controls">
                            <div id="camp_cost"></div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-field">
                        <div class="col-label">&nbsp;</div>
                        <div class="col-controls">
                            <button type="submit" class="button button-green center-if-mobile">
                                {{ get_data_by_lang(signup_block, '_signup_button', 'en') }}
                            </button>
                        </div>
                    </div>
                    {% if get_data_by_lang(signup_block, '_price_info', 'en') %}
                    <div class="form-field">
                        <div class="col-label">&nbsp;</div>
                        <div class="col-controls">
                            <p class="help-text">
                                {{ get_data_by_lang(signup_block, '_price_info', 'en') }}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    </div> {# end of right field set #}
                </form>
                <div class="form-message">
                    <div class="form-message-container">&nbsp;</div>
                </div>
                <div class="form-attend-share hidden">
                    <div class="center-socials">
                        <a href="#" class="goodshare vkontakte-color vk-social" data-type="vk"><i class="fa fa-vk"></i></a>
                        <a href="#" class="goodshare facebook-color facebook-social" data-type="fb"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="goodshare twitter-color twitter-social" data-type="tw"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="goodshare google-color google-social" data-type="gp"><i class="fa fa-google-plus"></i></a>
                    </div>
                </div>
            </div>
        <div class="decoration"></div>
    </div>
    
    <div id="partners" class="nav-anchor"></div>
    <!-- Content Heading -->
    <div class="content-heading">
        <h4>{{ get_data_by_lang(partners_block, '_header', 'en') }}</h4>
        <p>{{ get_data_by_lang(partners_block, '_subheader', 'en') }}</p>
        <i class="fa fa-cubes"></i>
        <div class="overlay"></div>
        <img src="{{ get_img_src('images/camp/bg/', '1024x200_2.jpg', '512x100_2.jpg')}}" alt="">
    </div> 
    
    <div class="content">
        <div class="partners-logos-list">
            {% for partner in partners_block.partners %}
                <a class="partner-list-logo" title="{{ get_data_by_lang(partner, '_name', 'en') }}" href="{{partner.url}}" target="_blank"><img src="{{partner.img_link}}" alt="{{ get_data_by_lang(partner, '_name', 'en') }}"></a>
            {% endfor %} 
        </div>
        <div class="decoration"></div>        
        <div class="quote-slider full-bottom" data-snap-ignore="true">
            {% for partner in partners_block.partners %}
            <div>
                <div>
                    <img class="partner-logo" src="{{ partner.img_link }}" alt="{{ get_data_by_lang(partner, '_name', 'en') }}">
                    <h4>
                        {{ get_data_by_lang(partner, '_description', 'en') }}
                    </h4>
                </div>
                <a href="{{ partner.url }}" target="_blank">{{ get_data_by_lang(partner, '_name', 'en') }}</a>
            </div>
            {% endfor %}
        </div>
            
        <div class="decoration"></div>            
    </div>


    <div id="contacts" class="nav-anchor"></div>
    <div class="maps-container">
        <iframe class="responsive-image maps" src="https://maps.google.com/?ie=UTF8&amp;ll=44.997748,6.217629&amp;spn=0.006186,0.016512&amp;t=h&amp;z=13&amp;output=embed&amp;scrollwheel=false" style="pointer-events:none;"></iframe>
    </div>

    <div class="content">
        <div class="decoration"></div>
        <div class="one-half-responsive">
            <h4>{{ get_data_by_lang(contact_block, '_header', 'en') }}</h4>
            <p>{{ get_data_by_lang(contact_block, '_subheader', 'en') }}</p>
            <div class="container no-bottom">
                <div class="contact-form no-bottom"> 
                    <div class="formSuccessMessageWrap" id="formSuccessMessageWrap">
                        <div class="big-notification green-notification">
                            <h3 class="uppercase">Message Sent </h3>
                            <a href="#" class="close-big-notification">x</a>
                            <p>{{_("Your message has been successfuly sent. Please allow up to 24 hours for a reply! Thank you!")}}</p>
                        </div>
                    </div>

                    <form action="{{ url_for('camps_feedback', language_suffix=language_suffix, id=camp.id) }}" method="post" class="contactForm" id="contactForm">
                        <fieldset>
                            <div class="formValidationError" id="contactNameFieldError">
                                <div class="static-notification-red tap-dismiss-notification">
                                    <p class="center-text uppercase">{{ _("Name is required!")}}</p>
                                </div>
                            </div>             
                            <div class="formValidationError" id="contactEmailFieldError">
                                <div class="static-notification-red tap-dismiss-notification">
                                    <p class="center-text uppercase">{{ _("Mail address required!")}}</p>
                                </div>
                            </div> 
                            <div class="formValidationError" id="contactEmailFieldError2">
                                <div class="static-notification-red tap-dismiss-notification">
                                    <p class="center-text uppercase">{{ _("Mail address must be valid!")}}</p>
                                </div>
                            </div> 
                            <div class="formValidationError" id="contactMessageTextareaError">
                                <div class="static-notification-red tap-dismiss-notification">
                                    <p class="center-text uppercase">{{ _("Message field is empty!")}}</p>
                                </div>
                            </div>   
                            <div class="formFieldWrap">
                                <label class="field-title contactNameField" for="contactNameField">{{ _("Name") }}:<span>({{ _("required")}})</span></label>
                                <input type="text" name="contactNameField" value="" class="contactField requiredField" id="contactNameField"/>
                            </div>
                            <div class="formFieldWrap">
                                <label class="field-title contactEmailField" for="contactEmailField">{{ _("Email") }}: <span>({{ _("required")}})</span></label>
                                <input type="text" name="contactEmailField" value="" class="contactField requiredField requiredEmailField" id="contactEmailField"/>
                            </div>
                            <div class="formTextareaWrap">
                                <label class="field-title contactMessageTextarea" for="contactMessageTextarea">{{ _("Message") }}: <span>({{ _("required")}})</span></label>
                                <textarea name="contactMessageTextarea" class="contactTextarea requiredField" id="contactMessageTextarea"></textarea>
                            </div>
                            <div class="formSubmitButtonErrorsWrap">
                                <input type="submit" class="buttonWrap button button-green contactSubmitButton" id="contactSubmitButton" value="{{_('SUBMIT')}}" data-formId="contactForm"/>
                            </div>
                        </fieldset>
                    </form>       
                </div>
            </div>
        </div>
        <div class="decoration hide-if-responsive"></div>
        <div class="one-half-responsive last-column">
            <div class="container no-bottom">
                <h4>{{ get_data_by_lang(contact_block, '_right_subheader', 'en') }}</h4>
                <p>
                    {% for contact in contact_block.contacts %}
                    <a href="{{ contact.link }}" class="contact-call" {% if contact.in_new_window %}target="_blank"{% endif %} ><i class="fa {{ contact.icon_class }}"></i>{{ get_data_by_lang(contact, '_caption', 'en') }}</a>
                    {% endfor %}
                </p>
            </div>
            <div class="container no-bottom">
                <h4>{{ get_data_by_lang(contact_block, '_right_usefullpages', 'en') }}</h4>
                <p>
                    {% for page in contact_block.useful_pages %}
                    <a href="{{ page.link }}" class="contact-call" {% if page.in_new_window %}target="_blank"{% endif %} ><i class="fa {{ page.icon_class }}"></i>{{ get_data_by_lang(page, '_caption', 'en') }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>

    <div class="decoration container"></div>
        
    <!-- Page Footer-->
    <div class="footer">
        <div class="footer-socials half-bottom">
            <a href="#" class="goodshare footer-facebook" data-type="fb"><i class="fa fa-facebook"></i></a>
            <a href="#" class="goodshare footer-twitter" data-type="tw"><i class="fa fa-twitter"></i></a>
            <a href="#" class="goodshare footer-google" data-type="gp"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
            <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
        </div>
        <p class="center-text">Copyright 2015. All rights reserved.</p>
    </div>       
</div>
    
<div class="share-bottom">
    <h3>{{ _("Share") }}</h3>
    <div class="share-socials-bottom">
        <a href="http://vk.com/share.php?url={{request.url}}" target="_blank">
            <i class="fa fa-vk vkontakte-color"></i>
            Vkontakte
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url }}" target="_blank">
            <i class="fa fa-facebook facebook-color"></i>
            Facebook
        </a>
        <a href='sms:?body={{ _("Hi! Check this camp in L2A! http://apres-work.co/en/l2a/camp/") }}'>   
            <i class="fa fa-comment-o sms-color"></i>
            SMS
        </a>
        <a href='mailto:?&subject=Les%20Deux%20Alpes%20camp&body={{ _("Hi! Check this camp in L2A! http://apres-work.co/en/l2a/camp/") }}'>
            <i class="fa fa-envelope-o mail-color"></i>
            Email
        </a>
    </div>
    <a href="#" class="close-share-bottom">{{ _("Close") }}&nbsp;<i class="fa fa-times"></i></a>
</div>
{% endblock %}