{% extends "base.html" %}
{% block title %}Веб-камеры курортов - apres-work.co{% endblock %}
{% block description %}Все веб-камеры самых популярных курортов СПб и Ленинградской области на одной странице{% endblock %}
{% block url %}http://apres-work.co/webkamery{% endblock %}
{% block image %}{{ url_for('static', filename='images/webcameras.jpg')}}{% endblock %}

{% block content %}
<section class="webcameras">
	<div class="container">
		<h3>Веб-камеры горнолыжных центров и парков СПб</h3>
		{% for resort in cbr %}
		<div class="resort resort-{{ resort }} row" data-id="{{resort}}" data-weatherurl="{{ url_for('get_weather', location_suffix=location_suffix) }}">
			<h4 class="resort-info">{{ cbr[resort]['NAME']}}&nbsp;<i class="show-resort-additional-info fa fa-ellipsis-h"></i></h4>
			<div class="resort-additional-info col-xs-12 col-sm-12 col-md-12 col-lg-12 row hidden">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					Контакты:
					<div>
						{% if cbr[resort]['ADDRESS'] %}
						<i class="fa fa-building-o"></i>&nbsp;{{cbr[resort]['ADDRESS']}}
						{% endif %}
						{% if cbr[resort]['ADDRESS'] and cbr[resort]['PHONE'] %},{%endif%}
						{% if cbr[resort]['PHONE'] %}
						{% if not cbr[resort]['ADDRESS'] %}
						<i class="fa fa-phone"></i>&nbsp;
						{% endif %}
						{{cbr[resort]['PHONE']}}
						{% endif %}
					</div>
					{% if cbr[resort]['URL_SITE'] %}
					<div><a href="{{ cbr[resort]['URL_SITE'] }}" target="_blank"><i class="fa fa-globe"></i>&nbsp;{{ cbr[resort]['URL_SITE'] }}</a></div>
					{% endif %}
					{% if cbr[resort]['URL_VK'] %}
					<div><a href="http://vk.com/{{ cbr[resort]['URL_VK'] }}" target="_blank"><i class="fa fa-vk"></i>&nbsp;{{ cbr[resort]['URL_VK'] }}</a></div>
					{% endif %}
					{% if cbr[resort]['URL_FB'] %}
					<div><a href="http://facebook.com/{{ cbr[resort]['URL_FB'] }}" target="_blank"><i class="fa fa-facebook"></i>&nbsp;{{ cbr[resort]['URL_FB'] }}</a></div>
					{% endif %}
					{% if cbr[resort]['URL_IG'] %}
					<div><a href="http://instagram.com/{{ cbr[resort]['URL_IG'] }}" target="_blank"><i class="fa fa-instagram"></i>&nbsp;{{ cbr[resort]['URL_IG'] }}</a></div>
					{% endif %}
					{% if cbr[resort]['LA'] and cbr[resort]['LO'] %}
					<div><i class="fa fa-compass"></i>&nbsp; {{cbr[resort]['LA']}}N, {{ cbr[resort]['LO']}}E</div>
					{% endif %}
				</div>
				<div class="weather col-xs-12 col-sm-6 col-md-6 col-lg-6">
					Прогноз погоды:
					<div>сейчас: <span class="weather-now"><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
					<div>через 3ч: <span class="weather-in3h"><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
					<div>через 6ч: <span class="weather-in6h"><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
					<div>через 24ч: <span class="weather-in24h"><i class="fa fa-circle-o-notch fa-spin"></i></span></div>
				</div>
			</div>
			<div class="row masonry">
				{% for camera in cbr[resort]['CAMERAS'] %}
				<div class="webcamera-image-block col-xs-12 col-sm-12 col-md-6 col-lg-6">
					{% if camera['LOAD_FROM_IFRAME']==True %}
					<iframe src="{{ camera['IFRAME_LINK'] }}"></iframe>
					{% else %}
					<div class="webcamera-reload"><i class="fa fa-refresh"></i></div>
					<img src="{{ camera['IMG_LINK'] }}?{{ rand }}" alt="{{ camera['NAME'] }}">
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
			<h4>Курортов пока нет :(</h4>
			Помоги нам добавить их - напиши на <a href="mailto:hola@apres-work.co">hola@apres-work.co</a>
		{% endfor %}
	</div>
</section>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/cameras.js') }}"></script>
{% endblock %}